/* ==========================================================================
	01. DEFAULT
	========================================================================== */

	.btn {
		white-space: unset;
	}

/* ==========================================================================
	02. BODY
	========================================================================== */

	body {
		background-color: #4267b2;
	}

	@media only screen and (min-width: 992px) {
		body {
			overflow-y: scroll;
			padding-left: 5px;
		}

		::-webkit-scrollbar {
			width: 5px;
		}
		body::-webkit-scrollbar {
			background-color: #4267b2;
		}
		body::-webkit-scrollbar-track {
			border-radius:10px;
		}
		body::-webkit-scrollbar-thumb {
			background-color: rgba(255, 255, 255, 0.75);
			border-radius:10px;
		}

	}

	/* ==========================================================================
		03. PAGE
		========================================================================== */

	div.stm-page {
		color: #4b4f56;
		background-color: #fff;
	}
	div.stm-page:not([class^="fa"]):not([class^="jw-icon"]) {
		font-family: "Roboto",Helvetica,Arial,sans-serif !important;
	}

/* ==========================================================================
	03. INTRO
	========================================================================== */

	section.stm-intro{
		background-color: #4267b2;
		color: #fff;
	}

	.stm-intro-content h1,
	.stm-intro-content h2,
	.stm-intro-content h3 {
		font-family: "Open Sans";
		color: #fff;
		line-height: 1.2;
	}

	.stm-intro-content h1 span.bids,
	.stm-intro-content h2 span.bids,
	.stm-intro-content h3 span.bids {
		color: #d93738;
	}

	.stm-intro-content h1 span.fb,
	.stm-intro-content h2 span.fb,
	.stm-intro-content h3 span.fb {
		color: #395ca9;
	}
	@media (max-width: 575px){
		.stm-intro-content h1 {
			font-size: 1.75rem;
		}
	}

/* ==========================================================================
	04. DATA
	========================================================================== */

	.stm-data .btn-primary {
		background-color: #4267b2;
		border-color: #4267b2;
	}
	.stm-data .btn-primary:hover {
		background-color: #365899;
		border-color: #365899;
	}

	.stm-data a {
		color: #4267b2;
	}
	.stm-data a:hover {
		color: #365899;
	}

/* ==========================================================================
	05. FOOTER
	========================================================================== */

	.stm-footer *,
	.stm-footer a:link,
	.stm-footer a:hover,
	.stm-footer a:visited {
		background-color: #4267b2;
		color: #fff !important;
		font-size: 0.875rem;
	}